#zichan_fuzhai {
	width: 744px;
	border: thin solid #000000;
}
#zichan_fuzhai #zi_chan {
	margin-top: 35px;
	margin-left: 18px;
	float: left;
	width: 330px;
	
}
#zichan_fuzhai #fu_zhai {
	margin-top: 35px;
	margin-right: 18px;
	float: right;
	width: 330px;

}
#zichan_fuzhai #zi_chan #zichan_display {
	width: 330px;
	
}

#zichan_fuzhai #zi_chan #zichan_table {
	border-collapse:collapse;
	margin-top:20px;
	width: 330px;
	
	text-align: center;
}
.tableList {
width: 100%;
}
table {
display: table;
border-collapse: separate;
border-spacing: 2px;
border-color: gray;
}
tbody {
display: table-row-group;
vertical-align: middle;
border-color: inherit;
}
.tableList th {
background: url(../res/image/fcy_bg.gif) repeat-x 0 -29px;
height: 29px;
text-align: center;
color: #375756;
vertical-align: middle;
border-left: 1px solid #D1DBDA;
border-right: 1px solid #B1BBBA;
}
.tableList th.first span {
display: block;
height: 29px;
line-height: 29px;
background: url(../res/image/fcy_bg.gif) no-repeat 0 0;
}
.tableList th.end span {
display: block;
height: 29px;
line-height: 29px;
background: url(../res/image/fcy_bg.gif) no-repeat right -58px;
}
.tableList td {
color: #3A3C3A;
cursor: default;
height: 26px;
text-align: center;
background-color: #E4EAEA;
border-right: 1px solid #DAE0E0;
border-bottom: 1px solid #DAE0DE;
}
tr {
display: table-row;
vertical-align: inherit;
border-color: inherit;
}
td, th {
display: table-cell;
vertical-align: inherit;
}
Inherited from table.tableList
.money {
font-family: sans-serif,Arial,Tahoma!important;
}
.tableList .row-0 td {
border-top: 1px solid white;
}
.tableList td.red {
color: #CB0D0C;
font-weight: bold;
}
.tableList .tRight {
border-right: none;
}
#zichan_fuzhai #zi_chan #zichan_display #zichan_diagram {
	
	width: 330px;
	
		box-shadow:-2px 0px 2px #7c8378,0px -2px 2px #7c8378,0px 2px 2px #7c8378,2px 0px 2px #7c8378;
}
#zichan_fuzhai #fu_zhai #fuzhai_display {
	width: 330px;
	
}

#zichan_fuzhai #fu_zhai #fuzhai_table {
	padding:0;
	border-collapse:collapse;
	margin-top:20px;
	width: 330px;
	
	text-align: center;
	box-shadow:-2px 0px 2px #7c8378,0px -2px 2px #7c8378,0px 2px 2px #7c8378,2px 0px 2px #7c8378;
}
#zichan_fuzhai #zi_chan #zichan_display #tit {
	width: 330px;
	
	
}

#zichan_fuzhai #fu_zhai #fuzhai_display #fuzhai_diagram {
	width: 330px;
	
		box-shadow:-2px 0px 2px #7c8378,0px -2px 2px #7c8378,0px 2px 2px #7c8378,2px 0px 2px #7c8378;
}
